package $package_name ;

import $entity_path;
import org.mutualser.core.repository.EntityRepository;
import org.springframework.stereotype.Repository;

/**
 * @author PSL.SA - $author_name
 * @since $date
 */
@Repository
public interface ${entity_name}Repository extends EntityRepository<$entity_name> {
}
